body, h1, form {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #000; 
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background: black;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align: center;
    color: #fff;
}

.linkfooter {
    color: #fff;
    text-decoration: none;
}

.link {
    color: #fff;
    text-decoration: none;
}

header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    width: 89%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}

.logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}

form {
    text-align: center;
    margin-top: 20px;
    color: gray;
}

input[type="text"] {
    padding: 10px;
    width: 100%;
    border: 1px solid #fc0808;
    border-radius: 4px;
    color: gray;
}

#result {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}

#box-under-input {
    background-color: #fff; 
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    max-width: 400px; 
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navlist {
    display: flex;
    list-style: none;
}

.navlist a {
    color: #fff; 
    margin-left: 27px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
    text-decoration: none;
}

.navlist a:hover {
    border-bottom: 2px solid #f73d30;
    z-index: 0;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px; 
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 10px;
}

button:hover {
    background-color: #555;
    transform: scale(1.05);
}

.button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 18px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin: 10px;
}

.button:hover {
    background-color: #9b0000;
    transform: scale(1.05);
}