<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home » osu!Checker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='osucheck.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="icon" type="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <style>
        .container {
            display: flex;
            align-items: center;
            text-align: center;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            justify-content: center;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <header>
        <a class="logo"> USERNAME CHECKER</a>
        <ul class="navlist">
        <li><a href="/">Home</a></li>
        <li><a href="/contact">Contact Me</a></li>
    </ul>
    </header>
    <div class="container">
        <button class="button" onclick="window.location.href='/usercheck'">Go to User Checker</button>
        <button class="button" onclick="window.location.href='/masscheck'">Go to User Mass-Checker</button>
        
</div>
<footer><h3>made with <FONT COLOR=red>❤︎</FONT> by <a href="https://github.com/Analyzings" class="linkfooter" target="_blank">divertente.</a></h3></footer>
</body>
</html>
